@model IEnumerable<DiskPastel.Models.TipoProduto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Administrador.cshtml";
}

<h2>Tipo Produto</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdtipoProduto" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdtipoProduto" class="btn btn-primary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdtipoProduto" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
